.mainheading {
	padding:1px 100px; /* gave padding to the specific class to display the content in a organised way*/ 
}
.sitetitle{
    font-family:Courier New; /*used diff font family for the heading*/
}
.mainheading p{ /* this will give styling to the paragraph tag in the parent class*/
    font-family:Courier New;
}
.navi{
    margin-left: 100px;
    overflow: hidden;/*this will hide any overflow in the content*/
    border-bottom:1px solid rgb(199, 195, 195);

}
.enter{
    float: left;
    color:black;
    padding-bottom: 1px;
    font-size: 25px;
    text-decoration: none;/*this will omit the decoration for the text*/
    border-bottom: 1px solid black;
}
h2{
    color:black;
}
h2:hover{ /*this will change the color of the headings when you hover on them*/
    background-color: grey;
}

.box1{
    float:left;
    width: 290px;
    border: 1px solid rgb(199, 195, 195);
    color: rgb(141, 138, 138);
    padding: 5px 30px 30px 30px;
    margin-left: 100px;
    margin-top: 30px;
    border-radius:5px /*to make the boxes look curved at the edges*/
}
.box2{
    float:left;
    width: 290px;
    border: 1px solid rgb(199, 195, 195);
    color: rgb(141, 138, 138);
    padding:5px 30px 30px 30px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius:5px
}
.box3{
        float:left;
        width: 290px;
        border: 1px solid rgb(199, 195, 195);
        color: rgb(141, 138, 138);
        padding:5px 30px 30px 30px;
        margin-left: 30px;
        margin-top: 30px;
        border-radius:5px

}
.box4{
    float:left;
        width: 290px;/*gave width depending on the requirement*/
        border: 1px solid rgb(199, 195, 195);
        color: rgb(141, 138, 138);
        padding:5px 30px 30px 30px;
        margin-left: 100px;
        margin-top: 30px;
        border-radius:5px

}
.box5{
    float:left;
    width: 290px;
    border: 1px solid rgb(199, 195, 195);
    color: rgb(141, 138, 138);
    padding:5px 30px 30px 30px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius:5px

}
.letter{
    color:green

}