.mainheading {
	padding:1px 100px;
}
.sitetitle{
    font-family:algerian;
}
.navi{
    margin-left: 100px;
    overflow: hidden;
    border-bottom:1px solid rgb(199, 195, 195);

}
.enter{
    float: left;
    color:black;
    text-align: center;
    padding-bottom: 1px;
    font-size: 25px;
    text-decoration: none;
    border-bottom: 1px solid black;
}
h2{
    color:black;
}
h2:hover{
    background-color: grey;
}

.box1{
    float:left;
    width: 290px;
    border: 1px solid rgb(199, 195, 195);
    color: rgb(141, 138, 138);
    padding: 5px 30px 30px 30px;
    margin-left: 100px;
    margin-top: 30px;
    border-radius:5px
}
.box2{
    float:left;
    width: 290px;
    border: 1px solid rgb(199, 195, 195);
    color: rgb(141, 138, 138);
    padding:5px 30px 30px 30px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius:5px
}
.box3{
        float:left;
        width: 290px;
        border: 1px solid rgb(199, 195, 195);
        color: rgb(141, 138, 138);
        padding:5px 30px 30px 30px;
        margin-left: 30px;
        margin-top: 30px;
        border-radius:5px

}
.box4{
    float:left;
        width: 290px;
        border: 1px solid rgb(199, 195, 195);
        color: rgb(141, 138, 138);
        padding:5px 30px 30px 30px;
        margin-left: 100px;
        margin-top: 30px;
        border-radius:5px

}
.box5{
    float:left;
    width: 290px;
    border: 1px solid rgb(199, 195, 195);
    color: rgb(141, 138, 138);
    padding:5px 30px 30px 30px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius:5px

}
.letter{
    color:green

}